/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: center;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    border: 1px solid lightgray;
}




body {
  background: #ecf3f3;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(28vw, 44vh, 66px);
            transform: translate3d(28vw, 44vh, 66px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(28vw, 44vh, 66px);
            transform: translate3d(28vw, 44vh, 66px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.99;
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(18vw, 10vh, 48px);
          transform: translate3d(18vw, 10vh, 48px);
  background: #26d953;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(79vw, 53vh, 8px);
            transform: translate3d(79vw, 53vh, 8px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(79vw, 53vh, 8px);
            transform: translate3d(79vw, 53vh, 8px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.74;
  height: 54px;
  width: 54px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(12vw, 37vh, 82px);
          transform: translate3d(12vw, 37vh, 82px);
  background: #26d962;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(8vw, 6vh, 95px);
            transform: translate3d(8vw, 6vh, 95px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(8vw, 6vh, 95px);
            transform: translate3d(8vw, 6vh, 95px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.04;
  height: 48px;
  width: 48px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(88vw, 24vh, 43px);
          transform: translate3d(88vw, 24vh, 43px);
  background: #d92635;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(27vw, 24vh, 30px);
            transform: translate3d(27vw, 24vh, 30px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(27vw, 24vh, 30px);
            transform: translate3d(27vw, 24vh, 30px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.03;
  height: 11px;
  width: 11px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(24vw, 28vh, 42px);
          transform: translate3d(24vw, 28vh, 42px);
  background: #d99726;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(8vw, 34vh, 11px);
            transform: translate3d(8vw, 34vh, 11px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(8vw, 34vh, 11px);
            transform: translate3d(8vw, 34vh, 11px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.89;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(31vw, 79vh, 13px);
          transform: translate3d(31vw, 79vh, 13px);
  background: #d98226;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(68vw, 89vh, 13px);
            transform: translate3d(68vw, 89vh, 13px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(68vw, 89vh, 13px);
            transform: translate3d(68vw, 89vh, 13px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.43;
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(81vw, 55vh, 89px);
          transform: translate3d(81vw, 55vh, 89px);
  background: #3b26d9;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(18vw, 45vh, 15px);
            transform: translate3d(18vw, 45vh, 15px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(18vw, 45vh, 15px);
            transform: translate3d(18vw, 45vh, 15px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.95;
  height: 45px;
  width: 45px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(2vw, 88vh, 20px);
          transform: translate3d(2vw, 88vh, 20px);
  background: #a626d9;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(48vw, 20vh, 43px);
            transform: translate3d(48vw, 20vh, 43px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(48vw, 20vh, 43px);
            transform: translate3d(48vw, 20vh, 43px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.92;
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(31vw, 36vh, 3px);
          transform: translate3d(31vw, 36vh, 3px);
  background: #b526d9;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(8vw, 77vh, 59px);
            transform: translate3d(8vw, 77vh, 59px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(8vw, 77vh, 59px);
            transform: translate3d(8vw, 77vh, 59px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.9;
  height: 53px;
  width: 53px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(84vw, 87vh, 31px);
          transform: translate3d(84vw, 87vh, 31px);
  background: #2665d9;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(50vw, 76vh, 13px);
            transform: translate3d(50vw, 76vh, 13px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(50vw, 76vh, 13px);
            transform: translate3d(50vw, 76vh, 13px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.46;
  height: 36px;
  width: 36px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(30vw, 55vh, 46px);
          transform: translate3d(30vw, 55vh, 46px);
  background: #d92656;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(26vw, 11vh, 92px);
            transform: translate3d(26vw, 11vh, 92px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(26vw, 11vh, 92px);
            transform: translate3d(26vw, 11vh, 92px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.37;
  height: 47px;
  width: 47px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(46vw, 58vh, 6px);
          transform: translate3d(46vw, 58vh, 6px);
  background: #26d95f;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(28vw, 55vh, 8px);
            transform: translate3d(28vw, 55vh, 8px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(28vw, 55vh, 8px);
            transform: translate3d(28vw, 55vh, 8px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.17;
  height: 14px;
  width: 14px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(18vw, 46vh, 77px);
          transform: translate3d(18vw, 46vh, 77px);
  background: #d94a26;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(20vw, 76vh, 43px);
            transform: translate3d(20vw, 76vh, 43px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(20vw, 76vh, 43px);
            transform: translate3d(20vw, 76vh, 43px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.31;
  height: 19px;
  width: 19px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(70vw, 38vh, 37px);
          transform: translate3d(70vw, 38vh, 37px);
  background: #2632d9;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(60vw, 48vh, 18px);
            transform: translate3d(60vw, 48vh, 18px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(60vw, 48vh, 18px);
            transform: translate3d(60vw, 48vh, 18px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.87;
  height: 27px;
  width: 27px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(5vw, 60vh, 37px);
          transform: translate3d(5vw, 60vh, 37px);
  background: #cad926;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(57vw, 81vh, 48px);
            transform: translate3d(57vw, 81vh, 48px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(57vw, 81vh, 48px);
            transform: translate3d(57vw, 81vh, 48px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.7;
  height: 37px;
  width: 37px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(8vw, 83vh, 37px);
          transform: translate3d(8vw, 83vh, 37px);
  background: #9126d9;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(87vw, 51vh, 7px);
            transform: translate3d(87vw, 51vh, 7px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(87vw, 51vh, 7px);
            transform: translate3d(87vw, 51vh, 7px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.37;
  height: 46px;
  width: 46px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(9vw, 66vh, 72px);
          transform: translate3d(9vw, 66vh, 72px);
  background: #d92647;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(22vw, 40vh, 40px);
            transform: translate3d(22vw, 40vh, 40px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(22vw, 40vh, 40px);
            transform: translate3d(22vw, 40vh, 40px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.39;
  height: 33px;
  width: 33px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(38vw, 7vh, 73px);
          transform: translate3d(38vw, 7vh, 73px);
  background: #d9c726;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(55vw, 78vh, 82px);
            transform: translate3d(55vw, 78vh, 82px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(55vw, 78vh, 82px);
            transform: translate3d(55vw, 78vh, 82px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.35;
  height: 44px;
  width: 44px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(45vw, 33vh, 96px);
          transform: translate3d(45vw, 33vh, 96px);
  background: #26d935;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(76vw, 81vh, 33px);
            transform: translate3d(76vw, 81vh, 33px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(76vw, 81vh, 33px);
            transform: translate3d(76vw, 81vh, 33px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.19;
  height: 21px;
  width: 21px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(80vw, 53vh, 72px);
          transform: translate3d(80vw, 53vh, 72px);
  background: #a9d926;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(66vw, 28vh, 4px);
            transform: translate3d(66vw, 28vh, 4px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(66vw, 28vh, 4px);
            transform: translate3d(66vw, 28vh, 4px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.76;
  height: 44px;
  width: 44px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(30vw, 20vh, 49px);
          transform: translate3d(30vw, 20vh, 49px);
  background: #26d98b;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(45vw, 72vh, 40px);
            transform: translate3d(45vw, 72vh, 40px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(45vw, 72vh, 40px);
            transform: translate3d(45vw, 72vh, 40px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.22;
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(78vw, 51vh, 44px);
          transform: translate3d(78vw, 51vh, 44px);
  background: #26d9cd;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(40vw, 34vh, 68px);
            transform: translate3d(40vw, 34vh, 68px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(40vw, 34vh, 68px);
            transform: translate3d(40vw, 34vh, 68px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.79;
  height: 52px;
  width: 52px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(37vw, 62vh, 97px);
          transform: translate3d(37vw, 62vh, 97px);
  background: #26d944;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(70vw, 4vh, 63px);
            transform: translate3d(70vw, 4vh, 63px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(70vw, 4vh, 63px);
            transform: translate3d(70vw, 4vh, 63px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.5;
  height: 37px;
  width: 37px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(47vw, 60vh, 56px);
          transform: translate3d(47vw, 60vh, 56px);
  background: #2668d9;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(8vw, 20vh, 83px);
            transform: translate3d(8vw, 20vh, 83px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(8vw, 20vh, 83px);
            transform: translate3d(8vw, 20vh, 83px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.69;
  height: 48px;
  width: 48px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(64vw, 37vh, 60px);
          transform: translate3d(64vw, 37vh, 60px);
  background: #6ed926;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(61vw, 38vh, 74px);
            transform: translate3d(61vw, 38vh, 74px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(61vw, 38vh, 74px);
            transform: translate3d(61vw, 38vh, 74px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.07;
  height: 55px;
  width: 55px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(62vw, 1vh, 84px);
          transform: translate3d(62vw, 1vh, 84px);
  background: #d926d0;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(67vw, 46vh, 86px);
            transform: translate3d(67vw, 46vh, 86px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(67vw, 46vh, 86px);
            transform: translate3d(67vw, 46vh, 86px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.22;
  height: 33px;
  width: 33px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(89vw, 51vh, 13px);
          transform: translate3d(89vw, 51vh, 13px);
  background: #50d926;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(20vw, 32vh, 85px);
            transform: translate3d(20vw, 32vh, 85px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(20vw, 32vh, 85px);
            transform: translate3d(20vw, 32vh, 85px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.58;
  height: 25px;
  width: 25px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(77vw, 64vh, 89px);
          transform: translate3d(77vw, 64vh, 89px);
  background: #26a9d9;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(47vw, 38vh, 21px);
            transform: translate3d(47vw, 38vh, 21px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(47vw, 38vh, 21px);
            transform: translate3d(47vw, 38vh, 21px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.33;
  height: 17px;
  width: 17px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(15vw, 44vh, 27px);
          transform: translate3d(15vw, 44vh, 27px);
  background: #5fd926;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(65vw, 61vh, 85px);
            transform: translate3d(65vw, 61vh, 85px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(65vw, 61vh, 85px);
            transform: translate3d(65vw, 61vh, 85px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.89;
  height: 16px;
  width: 16px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(32vw, 36vh, 68px);
          transform: translate3d(32vw, 36vh, 68px);
  background: #2cd926;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(90vw, 11vh, 27px);
            transform: translate3d(90vw, 11vh, 27px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(90vw, 11vh, 27px);
            transform: translate3d(90vw, 11vh, 27px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.85;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(23vw, 90vh, 7px);
          transform: translate3d(23vw, 90vh, 7px);
  background: #3226d9;
}





